autopep8
certifi
charset-normalizer
easyocr
idna
imageio
networkx
numpy
opencv-python
opencv-python-headless
packaging
pafy
pandas
Pillow
pycodestyle
pyparsing
python-bidi
python-dateutil
pytz
PyWavelets
PyYAML
requests
scikit-image
scipy
six
tifffile
toml
torch
torchaudio
torchvision
typing_extensions
urllib3
youtube-dl
